body{
    
    justify-content: center;
    background: rgb(105,3,101);
    background: linear-gradient(45deg, rgba(105,3,101,1) 0%, rgba(3,3,50,1) 50%, rgba(29,32,149,1) 100%);
    font-size: 3vh;
    font-family: 'Courier New', monospace;
}
#welcomeImage{
    height: 25vh;
}
.firstCollect{
    height:30vh;
}
.carousel {
    width:70%;
    height:50vh;
}
#headImage{
    width: 70%;
    height: 50vh;
}
#featuredText{
    font-weight: bold;
    color:aqua;
}
#footerP{
    font-size: 3vh;
    color: cyan;
    
}
a{
    text-decoration: none;
}